<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.epictimes.uvindex.query">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name="net.epictimes.uvindex.BaseApplication">

        <activity android:name=".QueryActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="epictimes.net" />
                <data android:pathPrefix="/query" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="default-url"
            android:value="https://epictimes.net/query" />

    </application>
</manifest>